@using KnowledgeNexusModels.Models

<div class="course-card">
    <a href="@($"viewCourse/{Course?.Id}")">
        <img src="@Course?.ImageUrl" alt="@Course?.Title" class="course-image-button" />
    </a>
    <div class="card-body">
        <h5 class="card-title">@Course?.Title</h5>
        <p class="card-text">@Course?.Description</p>
    </div>
    <div class="card-footer">
        <span class="text-muted">@Course?.Author</span>
        <AuthorizeView Policy="Teacher">
            <Authorized>
                <div class="actions-container">
                    <div class="button-divider"></div>
                    <button class="btn icon-button" title="Edit"><i class="fas fa-edit"></i></button>
                    <button class="btn icon-button" title="Delete"><i class="fas fa-trash-alt"></i></button>
                </div>
            </Authorized>
        </AuthorizeView>
    </div>
</div>

@code {
    [Parameter]
    public Course? Course { get; set; }
}
