@page "/"
@using KnowledgeNexus.Components.Widgets
@using KnowledgeNexusModels.Models

<PageTitle>Welcome to KnowledgeNexus</PageTitle>

<div class="course-grid">
    @foreach (var course in courses)
    {
        <CourseCard Course=@course />
    }
</div>

@code {
    // This would be replaced with a service call to get courses
    private List<Course> courses = new List<Course>
    {
        new Course
        {
            ImageUrl=  "https://support.thinkific.com/hc/article_attachments/360042080814/5d37323b52af1.png",
            Title="cel mai tare curs",
            Author = "eu",
            Description = "da",
        },
        new Course
        {
            ImageUrl= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTiFYtJrwVaJT5ZqR3MHNnpJPFF4HFmGshOjA&usqp=CAU",
            Title="al doilea cel mai tare curs",
            Author = "altcnv",
            Description = "poate",
        },
        new Course
        {
            ImageUrl= "https://www.copc.com/wp-content/uploads/2022/07/Webinar-14@1x.jpg",
            Title="al treilea cel mai tare curs",
            Author = "nuj cn",
            Description = "nu",
        }
    };
}