@page "/"

@using KnowledgeNexus.Components.Widgets
@using KnowledgeNexusModels.Models
@using KnowledgeNexus.Services

@inject CoursesService CoursesService

<PageTitle>Welcome to KnowledgeNexus</PageTitle>
@* <div class="filter-container">
	@foreach (var filter in filters)
	{
		<select @onchange="e => SetFilter(filter.Key, e.Value?.ToString())">
			<option value="">@filter.Key</option>
			@foreach (var option in filter.Value)
			{
				<option value="@option">@option</option>
			}
		</select>
	}
</div> *@

<div class="course-grid">
	@if (courses != null)
	{
		@foreach (var course in courses)
		{
			<CourseCard Course=@course />
		}
	}
</div>

@code {
	// This would be replaced with a service call to get courses
	public static List<Course>? courses;

	protected override async Task OnInitializedAsync()
	{
		courses = await CoursesService.GetAllCoursesAsync();
	}
}